body {
  margin: 0;
}

.center {
  text-align: center;
}

.background-fixed {
  position: fixed;
  background-color: black;
  padding: 0;
  height: 100vh;
  width: 23vw;
}

.back-btn {
  width: inherit;
}

h1 {
  text-align: center;
  font-size: 72px;
  font-family: 'Girassol', cursive;
  margin: 0;
  color: white;
  text-shadow: 0 0 8px black;
}

.container1 {
  min-height: 100%;
  min-width: 100%;
  background-image: url(./img/ucDVfG.jpeg);
  background-size: cover;
  position: absolute;
  width: 100vw;
  z-index: 1;
}

.container1-is-active {
  height: 100%;
  background-image: url(./img/ucDVfG.jpeg);
  background-size: cover;
  position: absolute;
  width: 100%;
  z-index: 0;
  pointer-events: none;
}

.container1-close {
  height: 100%;
  position: absolute;
  width: 75%;
  z-index: 0;
}

#hamburger-button {
  background-color: white;
  width: 30px;
  height: 30px;
  font-size: 29px;
  position: fixed;
  margin: 10px;
  vertical-align: baseline;
  z-index: 2;
  line-height: 0px;
}

#hidden {
  display: none;
}

#hamburger-button-is-active {
  background-color: white;
  width: 30px;
  height: 30px;
  font-size: 29px;
  position: fixed;
  margin: 10px;
  vertical-align: baseline;
  line-height: 0px;
  margin-left: 24%;
  z-index: 2;
  pointer-events: all;
}

#joke-container {
  margin: auto;
  width: 60%;
  padding: 10px;
  text-align: center;
}

#exampleFormControlTextarea1 {
  height: 60vh;
}

#exampleFormControlTextarea2 {
  height: 30vh;
}

.category-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  border: solid black 2px;
  padding: 62px;
  background-color: black;
  transform: translate(-50%, -50%);
}

.category-button {
  margin-top: 10px;
}

.category-modal-input {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.modal-close {
  background-color: white;
  position: relative;
  top: -50px;
  left: -50px;
}

.mt-n1 {
  margin-top: -10px;
}

.modal-is-active {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1060;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
}

.ps-10 {
  padding-left: 37%;
}

.ms-10 {
  margin-left: 10%;
}

.flex-basis-60 {
  flex-basis: 60%;
}

.w-inherit {
  width: inherit;
}

#w-90 {
  width: 90%;
}

.w-60 {
  width: 68%;
}

.w-30 {
  width: 30%;
}

.flex-basis-300 {
  flex-basis: 300%;
}

.fb-30 {
  flex-basis: 30%;
}

.fb-75 {
  flex-basis: 75%;
}

.lh-37 {
  line-height: 37px;
}

.fb-31 {
  flex-basis: 31%;
}

.sign-in-container {
  width: 42%;
}

.ml-2 {
  margin-left: 5px;
}

.direction {
  flex-direction: row;
}

.b-drop {
  opacity: 0.6;
}

.h-165 {
  height: 165px;
}

.fb-100 {
  flex-basis: 100%;
}

@media screen and (max-width: 480px) {
  .sign-in-container {
    height: 75%;
    width: 75vw;
  }

  #joke-container {
    margin: auto;
    width: 85%;
    padding: 10px;
    text-align: center;
  }

  .category-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    border: solid black 2px;
    padding: 6px;
    background-color: black;
    transform: translate(-50%, -50%);
  }

  .modal-close {
    background-color: white;
    top: 0;
    left: 0;
  }

  .stats {
    display: flex;
    flex-direction: column;
  }

  .ml-2 {
    margin-left: 0;
  }

  .fb-31 {
    flex-basis: 55%;
  }
}
